*{
    padding: 0;
    margin: 0;
    background: #222;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 90%;
    background: linear-gradient(145deg, rgb(216, 137, 9), rgb(78, 78, 225));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

/* .calculator{
    background: linear-gradient(111deg,rgb(91, 253, 167),rgb(239, 224, 51));
} */

.area input{
    height: 45px;
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    background: rgb(140, 250, 222);
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
}

.btn{
    margin-left: 10px;
}

.btn input{
    height: 45px;
    width: 45px;
    background: linear-gradient(190deg, rgb(66, 127, 232),rgb(73, 227, 248));
    margin-top: 5px;
    
}

.btn .equal{
    width: 80%;
    background: linear-gradient(190deg, rgb(135, 232, 66),rgb(248, 219, 73));
    align-items: center;align-content: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 20px;
}
